
/* global */
*{word-wrap:break-word; padding:0; margin:0;}
body{margin:0; padding:0; width:100%; height:100%; text-align:center; background: #045572;}
body,td,input,textarea,select,button{color:#333; font:12px arial,tahoma,verdana,sans-serif;}
img{border: 0; margin: 0; padding: 0;}

/*for ie6 to save background*/
div{*zoom:1;}
html {zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache", false, true);}(this));}

a{color: #ddd; text-decoration: none;}
a:hover{color: #6db0c6;}
#top ul{margin-right: 61px; *margin-right: 53px;}
#top li{display:inline; margin-left: 41px; *margin-left: 38px;}

#wrap{width: 980px;margin: 0 auto;}
#top{width: 100%; height: 26px; margin: 0 auto; background: url('http://www.hualilight.cn/upload/2013071771165857.jpg') no-repeat; padding-top: 74px; text-align: right; color: #ddd; font-size: 14px;}
#line{width: 100%; height: 3px; margin: 0 auto; background: url('imgs/line.jpg') no-repeat; font-size: 0;}
#main{width: 100%; height: 519px; margin: 0 auto; background: url('http://www.hualilight.cn/upload/2013071769647657.jpg') no-repeat;}

#about{width: 100%; height: 521px; margin: 0 auto; background: url('http://www.hualilight.cn/upload/2013071769606089.jpg') no-repeat;font-size: 14px;overflow: hidden;}
#aboutl{width:170px; *width: 180px; padding-left:20px;background: none;letter-spacing:5px;float: left;margin-top: 72px;}
#aboutl ul{list-style-type:none;  }
#aboutl li{margin-top: 13px;*margin-top: 12px;}
#aboutr {float: right;}
#text{margin-top: 50px;width: 380px;padding-left: 230px; color: #333; background: url('http://www.hualilight.cn/upload/2013071781039241.jpg') no-repeat;}
#text2{margin-top: 30px;width: 560px;padding-left: 20px; color: #333; }
#text3{margin-top: 60px;width: 585px;padding-left: 15px; color: #333; }
#text4{margin-top: 60px;width: 400px;padding-left: 10px; padding-right: 200px; color: #333; background: url('imgs/photos.jpg') no-repeat top right;}
#text5{margin-top: 50px;width: 560px;padding-left: 20px; color: #333; line-height: 140%;}

#main2{width: 100%; margin: 0 auto; background: #002140; padding-bottom: 40px; }
.wrap{width: 875px; margin: 0 auto; background: url('http://www.hualilight.cn/upload/2013071780738833.jpg') repeat-y;}
.wrap2{width: 875px; margin: 0 auto; background: url('http://www.hualilight.cn/upload/2013071780764121.jpg') no-repeat left bottom; overflow: hidden;}
#left{width: 135px; float: left; background: url('http://www.hualilight.cn/upload/2013071780711481.jpg') no-repeat left top; height: 482px;font-size: 14px; color: #eee;padding-left: 5px; letter-spacing: 5px;}
#left ul{list-style-type:none; margin-top: 115px; *padding-left: 10px; }
#left li{margin-top: 13px;*margin-top: 12px;}
#left span{font-weight: bold; color: #333;}
#right{width: 735px; float: right; background: url('http://www.hualilight.cn/upload/2013071780863449.jpg') repeat-y;}
#r1{width: 685px; background: url('http://www.hualilight.cn/upload/2013071780845449.jpg') no-repeat left top;padding: 80px 0 0 50px; font-size: 14px; color: #eee; text-align: left;}
#r2{width: 100%; background: url('http://www.hualilight.cn/upload/2013071780879985.jpg') no-repeat left bottom; height: 108px;}
#content{width:500px; margin: 80px auto 0 auto; font-size: 14px; color: #000;}
#contact{width:540px; margin: 30px auto 0 auto; font-size: 14px; color: #1c2c39; background: url('http://www.hualilight.cn/upload/2013071771257073.jpg') no-repeat;padding: 150px 0 10px 60px;}
#lease1{border:none; padding: 0; margin: 50px 0 0 50px; text-align: center;}
#lease1 td{border-top: 1px solid #000;font-size: 14px;padding: 15px 25px;}
#lease3{border:none; padding: 0; margin: 50px 0 0 0px; text-align: center;border-right: 1px solid #000;border-bottom: 1px solid #000;}
#lease3 td{border-top: 1px solid #000;border-left: 1px solid #000;font-size: 14px;padding: 5px 10px;}




#bottom{width: 100%; height: 60px; margin: 0 auto; background: url('http://www.hualilight.cn/upload/2013071769460913.jpg') no-repeat; padding-top: 50px; color: #6db0c6; font-size: 14px; white-space: nowrap;}
